<div class="info">
  <h4>
    E-mail: <%= @user.email %><br />
    Name: <%= @user.fullname %><br />
  </h4>
</div>

<div>
  <% @projects.each do |project| %>
  <%= project.name %>
  <% end %>
</div>

<p>
  <%= link_to 'New Project', new_user_project_path(@user) %>
  <%= link_to 'Back', root_path %>
</p>
